@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p><img src="http://www.gravatar.com/avatar/51250bfe82e4ebddd94a65a3680d28af.png"></p>

<p>Nick is currently a full-time Customer Success Engineer at Xamarin. Xamarin builds powerful tools for developers who want to build fully native, cross-platform mobile applications. He is a part-time CS graduate student at Georgia Tech. Outside of work, he attempts to make more money by spinning up side businesses or selling stuff. </p>

<p>Nick also provides product development and investor-pitch consulting services to start-ups, often for free (because life's not all dollars and cents). He coached 10 hardware startups on rapid prototyping, product presentation, and sales through Intel's Make-it-Wearable Competition. He has also helped dozens of other startups as a coach at hackathons and as a volunteer TA for a few of UC Berkeley's mobile entrepreneurship classes (the startups he coached went on to win 1st, 2nd, and 3rd place at various competitions). </p>

<p>He also provides sales consulting to startups to help them scale up their sales.</p>

<p>His interests include: Product Management and Sales (because a Product Manager's primary job is to build stuff that customers love enough to pay for), fiction writing, cooking, and international travel. </p>
