@{
    ViewBag.Title = "Contact Information";
}
<h2>@ViewBag.Title</h2>

<address>
    <strong>Location</strong><br />
    San Francisco Bay Area<br />
    California, USA<br />
</address>

<address>
    <strong> <a href="mailto:fabbuki@gmail.com">Email</a> </strong><br />
    <strong> <a href="https://www.linkedin.com/in/nickaustinlee">LinkedIn</a> </strong> <br />
    <strong> <a href="https://twitter.com/nickaustinlee">Twitter</a> </strong>
</address>