@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Nick Lee's Ridiculous Website</h1>
    <p class="lead">This website utilizes a combination of C# and Twitter Bootstrap to generate what you see on the screen.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>My Tweets</h2>
        <p>@Twitter.Profile("NickAustinLee", "343496403810656256")</p>
    </div>
    <div class="col-md-4">
        <h2>Podcast Episodes</h2>
        <p>(placeholder)</p>
    </div>
    <div class="col-md-4">
        <h2>News</h2>
        <p><strong>May 2, 2015: </strong>ASP.NET website launched</p>
    </div>
</div>