@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Nick Lee's Ridiculous Website</h1>
    <p class="lead">This website utilizes a combination of C# and Twitter Bootstrap to generate what you see on the screen.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Live Twitter from Nick</h2>
        <p>@Twitter.Profile("NickAustinLee", "343496403810656256")</p>
    </div>
    <div class="col-md-4">
        <h2>Life Twitter from Grace</h2>
        <p>@Twitter.Profile("GoGettingGrace", "594708272084426752")</p>
    </div>
    <div class="col-md-4">
        
    </div>
</div>